.idea/
__pycache__

*.log

data/input-apks/*
data/intercept/apk-keys
data/intercept/decoded-apks
data/intercept/rebuilt-apks
data/intercept/manual-smali-files/
data/signed-apks
data/logs/*
data/test-apks
data/input-smali-directories
data/results
data/signed-apks/
data/sources-and-sinks/modified/*
data/experiments
data/experiments_2024
data/ic3_output
data/temp
data/logger/condysta.log
data/logger/condysta.log*
data/readonly-decoded-apks/

.DS_Store
.vscode

tests/data/*

HeapSnapshot/*.iml
HeapSnapshot/.gradle
/local.properties
HeapSnapshot/.idea/caches
HeapSnapshot/.idea/libraries
HeapSnapshot/.idea/modules.xml
HeapSnapshot/.idea/workspace.xml
HeapSnapshot/.idea/navEditor.xml
HeapSnapshot/.idea/assetWizardSettings.xml
HeapSnapshot/.DS_Store
HeapSnapshot/build
HeapSnapshot/captures
HeapSnapshot/.externalNativeBuild
HeapSnapshot/.cxx
HeapSnapshot/local.properties

*.zip

.ipynb_checkpoints
.pytest_cache

experiment/personal_info_copy.py

external_path.ini

data/OneDrive_1_2-7-2025
data/uploads


