.idea/
__pycache__

*.txt
*.xml
*.log

data/intercept/apk-keys
data/intercept/decoded-apks
data/input-apks
data/intercept/rebuilt-apks
data/signed-apks
data/logs
data/test-apks
data/input-smali-directories
data/results


/data/signed-apks/
/data/intercept/manual-smali-files/
